.burger {
  background-color: transparent;
  border: none;
}

.navbar-brand {
  align-items: center;
}

.navbar-item {
  font-size: 20px;
}

.base {
  background: black;
}

.footer {
  background: black;
}

.navbar-menu{
  background: black;
}
